/*
class .
id #
*/

	
.navbar-light .navbar-nav .nav-link:hover {
		/*background: rgb(173, 18, 18);*/
		background: black;

	}	

.dropdown-item:hover {
		background: rgba(47, 0, 235, 0.116);
		color: gray;
	}	

h3 {
    padding-top: 10px;
	padding-bottom: 0px;
}

hr {
	padding-bottom: 10px;
}

body {
	background: rgba(47, 0, 235, 0.197); 


}

/* Posiciona os itens do menu mais a direita*/
.nav-item {
	padding-left: 25px;
	
}

/* Ajusta o tamanho da fonte de todos DATA TABLES */
table {
	font-size: small;
}


/* Ajusta a grade do container mais para esquerda */
.container h3 {
	margin-left: auto;
	margin-top: 15px;
	
}

/* pinta os ícones de cinza */
.fa {
	color: #039be5;
}


.imglogin {
	background-image: url(/img/login.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 340px;
	padding-top: 30px;
	/*opacity: 0.5;*/
	
}

/*
.imginicio {
	padding-bottom: 640px;
	background-repeat: no-repeat;
	background-size: cover;

	opacity: 0.8;
	
}
*/


table#alter tr td { /* Toda a tabela com fundo creme */
	background: #ffc;
	} 


/* colorindo registros da adm_logins_log que NÃO ATENDEM as regras */
table#myTable tr.norule td {
	/*color: lightgray;*/
	color: rgba(255, 255, 0, 0.952);
	background: black;
}

/* colorindo registros da adm_logins_log que ATENDEM as regras */
table#myTable tr.rule td {
	color: rgba(144, 238, 144, 0.653);
	background: black;	
}


/* colorindo registros da adm_logins_log que NÃO ATENDAM a regras e estão ativados TO KILL */
table#myTable tr.todie td {
	color: rgb(228, 40, 16);
	background: black;	
	}

/* fundo preto da tabelas adm_logins_log para realçar cores das linhas com regras */
table.tab-admloginslog td {
	background: black;	
	font-size: x-small;
}

/* fonte da tabela adm_logins*/
table.tab-admlogins td {
	font-size: x-small;
}



/* regra para ADM_LOGINS_TO_KILL caso esteja setado para KILL */
table.tab-loginstokill tr.tokill td {
	color: rgb(228, 40, 16);
	background: black;	
	font-weight: bolder;	
}

/* regra para ADM_LOGINS_TO_KILL caso esteja setado NÃO KILL */
table.tab-loginstokill tr.notokill td {
	background: black;	
	color: rgba(255, 255, 0, 0.952);
	}

/* regra para ADM_LOGINS_TO_KILL - para usuários com ADMINISTER DATABASE TRIGGER */
table.tab-loginstokill tr.admtrigger td {
	background: black;	
	color: gray;
	/*text-decoration:line-through;*/
}	


/* Ícone do botão ATIVAR KILL POR USUARIO da tela ADM_LOGINS */
.fa-lock.img-circle.text-primary.btn-icon:before {
	color:lightcoral;
}

/* Ícone do botão APLICAÇÕES PROIBIDAS da tela ADM_LOGINS */
.fa-times-circle.img-circle.text-primary.btn-icon:before{
	color:lightcoral;
}


/* Ícone do botão BACKUP da tela ADM_LOGINS */
.fa-clone.img-circle.text-primary.btn-icon:before{
	color:lightgreen;
}

/* Ícone do botão RESTORE da tela ADM_LOGINS */
.fa-clipboard.img-circle.text-primary.btn-icon:before{
	color: lightyellow;
}


.fa-user-times:before{
	color:red;
}

.fa-clock-o:before{
	color:red;
}




table#myTable tr.corsim td {
	background: rgba(221, 221, 221, 0.500);
}

table#myTable tr.cornao td {
	/*background: rgba(221, 221, 221, 0.693);*/
	background: white;
}
	
table.tab-admloginslog-all td {
	font-size: smaller;
}
