/*
class .
id #
*/

	
.navbar-light .navbar-nav .nav-link:hover {
		/*background: rgb(173, 18, 18);*/
		background: black;

	}	

.dropdown-item:hover {
		background: rgba(47, 0, 235, 0.116);
		color: gray;
	}	

h3 {
    padding-top: 10px;
	padding-bottom: 0px;
}

hr {
	padding-bottom: 10px;
}


body {
	/*background: rgba(47, 0, 235, 0.197);*/
	background: whitesmoke;
}


/* Posiciona os itens do menu mais a direita*/
.nav-item {
	padding-left: 25px;
	
}

/* Ajusta o tamanho da fonte de todos DATA TABLES */
table {
	font-size: small;
}


/* Ajusta a grade do container mais para esquerda */
.container h3 {
	margin-left: auto;
	margin-top: 15px;
	
}

/* pinta os ícones de cinza */
.fa {
	color: #039be5;
}



.imglogin {
	/*background-image: url(/img/login.png);*/
	background-attachment: fixed;
	background-size: 100%;	
	background-repeat: no-repeat;
	/*background-size: cover;*/

}

/*
.imginicio {
	padding-bottom: 640px; 
	background-repeat: no-repeat;
	background-size: cover;

	/*opacity: 0.8;*/

}
*/


table#alter tr td { /* Toda a tabela com fundo creme */
	background: #ffc;
	}


/* colorindo registros da adm_logins_log que NÃO ATENDEM as regras */

table#myTable tr.none td {
	/*color: lightgray;*/
	color:lightgray;
/*	background: black;*/
}


table#myTable tr.norule td {
	/*color: lightgray;
	color: rgba(255, 255, 0, 0.952);*/
	color: rgba(255, 255, 0, 0.800);
	background: black;
}

/* colorindo registros da adm_logins_log que ATENDEM as regras */
table#myTable tr.rule td {
	color: rgba(144, 238, 144, 0.653);
	background: black;	
}


/* colorindo registros da adm_logins_log que NÃO ATENDAM a regras e estão ativados TO KILL */
table#myTable tr.todie td {
	color: rgb(228, 40, 16);
	background: black;	
	}

/* fundo preto da tabelas adm_logins_log para realçar cores das linhas com regras */
table.tab-admloginslog td {
	background: black;	
	font-size: x-small;
}

/* fonte da tabela adm_logins*/
table.tab-admlogins td {
	font-size: x-small;
}



/* regra para ADM_LOGINS_TO_KILL caso esteja setado para KILL */
table.tab-loginstokill tr.tokill td {
	color: rgb(228, 40, 16);
	background: black;	
	font-weight: bolder;	
}

/* regra para ADM_LOGINS_TO_KILL caso esteja setado NÃO KILL */
table.tab-loginstokill tr.notokill td {
	background: black;	
	color: rgba(255, 255, 0, 0.952);
	}

/* regra para ADM_LOGINS_TO_KILL - para usuários com ADMINISTER DATABASE TRIGGER */
table.tab-loginstokill tr.admtrigger td {
	background: black;	
	color: gray;
	/*text-decoration:line-through;*/
}	


/* Ícone do botão ATIVAR KILL POR USUARIO da tela ADM_LOGINS */
.fa-lock.img-circle.text-primary.btn-icon:before {
	color:lightcoral;
}

/* Ícone do botão APLICAÇÕES PROIBIDAS da tela ADM_LOGINS */
.fa-times-circle.img-circle.text-primary.btn-icon:before{
	color:lightcoral;
}


/* Ícone do botão BACKUP da tela ADM_LOGINS */
.fa-clone.img-circle.text-primary.btn-icon:before{
	color:lightgreen;
}

/* Ícone do botão RESTORE da tela ADM_LOGINS */
.fa-clipboard.img-circle.text-primary.btn-icon:before{
	color: lightyellow;
}

/* Cadeado da tela de REGRAS de todos bancos de dados da categoria*/
.fa-unlock.x{
	color: red;
}


.fa-user-times:before{
	color:red;
}

.fa-clock-o:before{
	color:red;
}

.fa-thumbs-up:before{
	/*color: lightgreen;*/
}


/* Tela de bloqueios, os que estão somente logando e não cortando... */
.fa-exclamation-triangle:before{
	color:yellow;
}


/* lista da grid de conexões bloqueadas para pautar*/
table#myTable tr.corsim td {
	color: rgba(211, 211, 211, 0.734);
	background: rgba(0, 0, 0, 0.920);

}

/* lista da grid de conexões bloqueadas para pautar*/
table#myTable tr.cornao td {
	color: gray;	
	background: red(0, 0, 0, 0.415);

}
	
table.tab-admloginslog-all td {
	font-size: smaller;
}


/* lista da grid de conexões bloqueadas para pautar*/
table#myTable tr.corsim2 td {
	/* background: rgba(221, 221, 221, 0.500);
	background: rgb(250, 237, 210);*/
	background: rgba(0, 0, 0, 0.920);
}

/* lista da grid de conexões bloqueadas para pautar*/
table#myTable tr.cornao2 td {
	/*background: rgba(221, 221, 221, 0.693);*/
	background: red(0, 0, 0, 0.415);
}


.login {
	width: 400px;
	height: 500px;
	border: 2px solid rgba(0, 1, 18, .3); /*#000;*/
	border-radius: 20px;
	color: #fff;
	/*background-color: rgba(0,0,5,0.7);*/
	background-color: rgba(0, 1, 18, .6);
	top: 50%;
	left: 25%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 40px 50px;
}


.navbar-expand-lg {
	background-color: rgba(0, 1, 18, 0.860);
	border-color: rgba(0, 1, 18, 0.860);

}